body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.wheel-container {
    margin-right: 20px;
}

#wheelCanvas {
    background-color: #f0f0f0; /* Light grey background to see the canvas */
}

.inputs-container {
    display: flex;
    flex-direction: column;
}

.category-input {
    margin-bottom: 5px;
    margin-right: 20px;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.save-container {
    margin-top: 10px;
}

